@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Bundler Application</strong><br />
    Efficient Package Management<br />
    Built with ASP.NET Core<br />
</address>

<address>
    <strong>Features:</strong><br />
    <abbr title="Email">E:</abbr> bundling@example.com
</address>